{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{name1}}</title>
    <style>
        td{
            text-align: center;
            width: 80px; height: 50px;
            color:black
        }
        th{
            text-align: center;
        }
        a{
            background-color: transparent; /* Green */
            text-align: center;
            text-decoration: none;
            font-size: 16px;    
            border-style: none
        }
    </style>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Project Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a id = "go-back" class="m-0 font-weight-bold text-primary" style = "text-align : left; float : left; font-size: x-large; display: inline;" href = "{% url 'div' %}"> &#8592;</a>
            <h6 class="m-0 font-weight-bold text-primary" style = "text-align : center; margin-top : 11px!important">{{name1}}</h6>
        </div>
        <div class="card-body">
            <h4 class="small font-weight-bold">문진표 실시현황 <span
                    class="float-right">{{number_all}}%</span></h4>
            <div class="progress mb-4">
                <div class="{{style_all}}" role="progressbar" style="width:{{number_all}}%"
                    aria-valuenow="{{number_all}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div style="flex-direction: row;">
                <div class="container-fluid" style="width:100%; margin:0px; float:left; padding:0px">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="width:100%">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px; text-align: center;">총누적자</th>
                                            <th style="width: 80px; text-align: center;">추가 확진자</th>

                                        </tr>
                                    </thead>



                                    <tbody>

                                        <tr>
                                            <td style="text-align: center; width:60px;">1000034명</td>
                                            <td style="text-align: center; width:60px;">1002명</td>
                                        
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
                <form action="submit" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="lYh6IULK41BHoFiK6GBdlQn3U5PAyRxq9FSEeAsuO3vWB1ai3AsICy9ArOUGtjSr">
                            {% csrf_token %}
                            <input type="hidden" value = "{{xx}}" name = "non">
                            <input type="hidden" value = "{{q1}}" name = "q1">
                            <input type="hidden" value = "{{q2}}" name = "q2">
                                    <input type="submit" class="btn btn-primary btn-icon-split btn-lg" style="width:100%;; height:45px" value="제출하기">
                                    <div class ="{{danger}}"style="margin-bottom:5%; padding:0px"> <div class = "{{danger_2}}" style="font-size: large; font-weight:bold; color:black;padding:0px; text-align:center">{{danger_3}}</div></div>
                    <!-- Begin Page Content -->

                <div class="container-fluid" style="width:49.5%; margin:0px; float:left; padding:0px">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="width:100%">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">인원현황</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 60px; text-align: center;">구분</th>
                                            <th style="width: 80px; text-align: center;">인원</th>

                                        </tr>
                                    </thead>



                                    <tbody>

                                        <tr>
                                            <td style="text-align: center; width:60px; font-size:smaller">총원</td>
                                            <td>{{total}}</td>
                                        
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width:60px; font-size:smaller">정상출근</td>
                                            <td>{{yes}}</td>
                                        
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width:60px; font-size:smaller">재택근무</td>
                                            <td>{{no}}</td>
                                        
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width:60px; font-size:smaller">설문 미실시자</td>
                                            <td>{{xx}}</td>
                                        
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width:60px; font-size:smaller">출근율</td>
                                            <td>{{per}}%</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->



                                    <!-- Begin Page Content -->
                <div class="container-fluid" style="width:49.5%; margin:0px; float:right; padding:0px">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="width:100%">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">재택근무</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px; text-align: center; font-size:smaller">구분</th>
                                            <th style="width: 100px; text-align: center;">이름</th>

                                        </tr>
                                    </thead>



                                    <tbody>
                                        {% for i in house %}
                                        <tr>
                                            <td style="text-align: center; width:70px">{{i.idx}}</td>
                                        <form action="check_solo" name="form" id="form" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="lYh6IULK41BHoFiK6GBdlQn3U5PAyRxq9FSEeAsuO3vWB1ai3AsICy9ArOUGtjSr">
                                        	{% csrf_token %}
                                            <input type="hidden" value ="{{i.usercode}}" name="usercode">
                                            <input type="hidden" value ="{{i.name}}" name="username">
                                            <td style="text-align: center; width:30px;"><input type="submit" value="{{i.name}}" style="width:100%; height:100%; border:none; background-color:white"></td>
                                        </form>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
</div>



    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{name1}}</h6>
        </div>
        <div class="card-body">


    </div>
    <div style="flex-direction: row;">
                    <!-- Begin Page Content -->
                <div class="container-fluid" style="width:49.5%; margin:0px; float:left; padding:0px">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="width:100%">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">실시자</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px; text-align: center;"></th>
                                            <th style="width: 80px; text-align: center;">이름</th>

                                        </tr>
                                    </thead>



                                    <tbody>
                                    {% for i in silsi%}
                                        <tr>
                                            <td style="text-align: center; width:10px; font-size:smaller">{{i.idx}}</td>
                                            <td>{{i.name}}</td>
                                        
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->



                                    <!-- Begin Page Content -->
                <div class="container-fluid" style="width:49.5%; margin:0px; float:right; padding:0px">

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="width:100%">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">미실시자</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px; text-align: center;"></th>
                                            <th style="width: 100px; text-align: center;">이름</th>

                                        </tr>
                                    </thead>



                                    <tbody>
                                        {% for i in current %}
                                        <tr>
                                            <td style="text-align: center; width:10px">{{i.idx}}</td>
                                            <td>{{i.name}}</td>
                                        
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
</div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; K.S.H</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>













</body>










